.survey-card-wrapper {
  position: relative;
  padding: 20px;
  width: 290px;
  box-sizing: border-box;
  @media (max-width: 1199px) {
    width: 300px;
    margin-right: 0;
  }
  @media (max-width: 991px) {
    width: 340px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  & > i.fas {
    z-index: 999;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    &.fa-trash {
      top: 27px;
      right: 26px;
      color: rgba(207, 0, 15, 0.3);
      &:hover {
        color: rgba(207, 0, 15, 1);
      }
    }
    &.fa-key {
      top: 27px;
      right: 50px;
      color: rgba(0, 169, 240, 0.3);
      &:hover {
        color: rgba(0, 169, 240, 1);
      }
    }
    &.fa-link {
      top: 27px;
      right: 75px;
      color: rgba(0, 169, 240, 0.3);
      &:hover {
        color: rgba(0, 169, 240, 1);
      }
    }
  }
  .survey-card {
    word-break: break-word;
    transition: background-color 250ms;
    height: 280px;
    .survey-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //height: 90%;
      position: relative;
      padding-bottom: 10px;
      .survey-card__tilte {
        min-height: 90px;
        cursor: text;
        transition: color 500ms;
      }
      &:hover {
        //background-color: rgba(0, 0, 0, 0.001);
        //& h3 {
        //  color: #ffffff;
        //}
      }
      .survey-card__controls {
        width: 100%;
        //& > span {
        //  font-size: 24px;
        //  color: #6FC93C;
        //  i {
        //    margin-right: 5px;
        //  }
        //}
        .control-buttons {
          & > span {
            font-size: 24px;
            color: #6FC93C;
            i {
              margin-right: 5px;
            }
          }
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 10px;
          padding-bottom: 10px;
          .control-links {
            .survey-card-button__open-editor {
              margin-right: 10px;
              font-size: 24px;
              min-width: 50px;
              min-height: 50px;
              color: #f50057;
              border-color: #f50057;
            }
            .survey-card-button__open-results {
              font-size: 24px;
              min-width: 50px;
              min-height: 50px;
              color: #ff9800;
              border-color: #ff9800;
            }
          }
        }
      }
    }
  }
  .add-survey-card {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
    i {
      font-size: 50px;
      color: #03a9f4;
    }
  }
}