.question-card.editor {
    border-left: 5px solid #03a9f4;
    margin-bottom: 20px;
    background-color: white;
    & > div {
        padding-top: 16px;
    }
    .question-card__title {
        margin-top: 0;
        display: none;
        &:hover {
            cursor: text;
        }
        &.show-title {
            display: block;
        }
    }
    .question-card__text-field {
        display: none;
        &.show-text-field {
            display: block;
        }
    }
    .question-card__answer {
        display: none;
        cursor: text;
        & span {
            font-family: 'Ubuntu', sans-serif;
            font-size: 17px;
        }
        &.show-answer {
            display: inherit;
        }
    }
    .question-card__answer-text-field {
        display: none;
        &.show-answer-text-field {
            display: inherit;
        }
    }
    .grade-radio-group {
        align-items: center;
        padding-left: 10px;
        flex-direction: row;
        @media (max-width: 500px) {
            flex-direction: column;
        }
        &:hover {
            cursor: text;
        }
    }
}