.survey-header {
    display: flex;
    margin: 0 auto;
    .header-appbar {
        background-color: #231f1f;
        .header-toolbar {
            max-width: 900px;
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            padding-right: 0;
            padding-left: 0;
            @media (max-width: 1199px) {
                max-width: 800px;
            }
            @media (max-width: 991px) {
                max-width: 750px;
            }
            @media (max-width: 767px) {
                max-width: 95%;
            }
            .header-title {
                font-family: 'Ubuntu', sans-serif;
            }
        }
    }
}