.body-wrapper.survey-main {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 900px;
    @media (max-width: 1199px) {
        max-width: 800px;
    }
    @media (max-width: 991px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: 95%;
    }
    .survey-disabled-window {
        border-top: 3px solid #03a9f4;
    }
    .block-desc-card {
        margin-bottom: 40px;
        border-top: 3px solid #03a9f4;
        font-size: 20px;
    }
    .thank-you-card {
        border-top: 3px solid #03a9f4;
        margin: 40px auto;
        max-width: 500px;
        min-height: 300px;
        background: rgba(255, 255, 255, 0.5);
        .ty-content {
            padding: 60px 20px;
            display: flex;
            flex-direction: column;
            i {
                font-size: 90px;
                margin-bottom: 20px;
                color: #6FC93C;
            }
        }
    }
    .question-list {
        width: 80%;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    .check-password-card {
        margin: 200px auto;
        width: 450px;
        @media (max-width: 767px) {
            margin: 20px auto;
            width: 100%;
        }
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            .survey-send-password-button {
                margin-top: 20px;
                background: linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
                color: #ffffff;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 600;
                padding:10px 30px;
            }
        }
    }
    .send-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        .survey-send-button {
            display: none;
            background: linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
            color: #ffffff;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 600;
            padding: 10px 30px;
            &.show {
                display: inherit;
                @media (max-width: 767px) {
                    display: none;
                }
            }
            &.mobile {
                display: none;
                width: 40px;
                height: 40px;
                padding: 0;
                position: absolute;
                top: -50px;
                i {
                    font-size: 18px;
                    font-weight: 500;
                    color: #ffffff;
                }
                &.show {
                    @media (max-width: 767px) {
                        display: flex;
                    }
                }
            }
        }
    }
}