.header {
    display: flex;
    margin: 0 auto;
    .header-appbar {
        background-color: #231f1f;
        .header-toolbar {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1199px) {
                max-width: 970px;
            }
            @media (max-width: 991px) {
                max-width: 750px;
            }
            @media (max-width: 767px) {
                max-width: 95%;
            }
            .header__right-elements {
                padding-right: 20px;
                .header__faq-button {
                    border-color: white;
                    color: white;
                }
            }
            .header-title {
                color: #ffffff;
                @media (max-width: 767px) {
                    display: none;
                }
                &.mobile {
                    display: none;
                    color: #ffffff;
                    margin-top: 7px;
                    padding-left: 20px;
                    //font-size: 24px;
                    @media (max-width: 767px) {
                        display: block;
                    }
                }
            }
        }
    }
}