.question-card {
    //border-left: 5px solid #03a9f4;
    //background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    & > div {
        padding-top: 0;
    }
    .question-card__title {
        text-align: left;
        margin-bottom: 15px;
        &:hover {
            cursor: text;
        }
        &.show-title {
            display: block;
        }
        span {
            color: red;
        }
    }
    .question-card__answer {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        margin-bottom: 5px;
        & span {
            font-family: 'Ubuntu', sans-serif;
            font-size: 17px;
            text-align: left;
        }
        & > span:first-child {
            padding: 8px;
        }
        &.show-answer {
            display: inherit;
        }
        .question-card__answer-select {
            & > div > div {
                text-align: left;
            }
        }
        @media (max-width: 767px) {
            & > label {
                display: none;
            }
            & > div {
                margin-top: 0;
            }
        }
    }
    .grade-radio-group {
        align-items: center;
        padding-left: 10px;
        flex-direction: row;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
}