.editor-content {
    padding-left: 50px;
    padding-right: 15px;
    text-align: left;
    width: 90%;
    position: relative;
    .top-elements {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 20px;
        .password-wrapper{
            background-color: #ffffff;
            padding: 5px 8px;
            border-radius: 3px;
            span {
                background-color: #03a9f4;
                padding: 0 5px;
                color: #e7fff6;
                font-weight: 600;
                margin-right: 10px;
            }
            i.far {
                cursor: pointer;
            }
        }
        .editor-button__save {
            background: linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
            color: #ffffff;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 600;
            padding:10px 30px;
            &:hover {
                color: #e7fff6;
            }
        }
    }
    .title-content {
        padding: 10px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 3px;
        border-left: 5px solid #03a9f4;
        .survey__title {
            display: none;
            &:hover {
                cursor: text;
            }
            &.show-title {
                display: block;
            }
        }
        .survey__text-field {
            display: none;
            margin-top: 20px;
            &.show-text-field {
                display: block;
            }
        }
    }
}