.pagination {
    display: flex;
    justify-content: center;
    //margin-top: 30px;
    .pagination_button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        font-weight: 600;
        width: 45px;
        height: 45px;
        //background-color: #03a9f4;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        //box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.1), 0px 6px 10px 0px rgba(0,0,0,0.1), 0px 1px 15px 0px rgba(0,0,0,0.1);
        //color: #feffff;
        //text-shadow: 0 1px 0 rgba(0,0,0, .5);
        border: solid 1px #c0c0c0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
        box-shadow: inset 0 1px 0 rgba(255,255,255, .8), 0 1px 3px rgba(0,0,0,.1);
        //background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#141a1f), to(#3d4f5d));
        //background: linear-gradient(to right, #F6EFD2, #CEAD78);
        color: #717171;
        text-shadow: 0px 1px 0px rgba(255,255,255, 1);
        &:hover {
            //background: #3d4f5d;
            //background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#231f1f));
            background: #fefefe;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
        }
        &.active {
            border: none;
            //background: #2f3237;
            //box-shadow: inset 0 0 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
            background: #616161;
            box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
            color: #f0f0f0;
            text-shadow: 0px 0px 3px rgba(0,0,0, .5);
        }
        &.previous {
        }
        &.next {
        }
    }
}