* {
    outline: 0 !important;
}

div, span, p, ul, li, a {
    //font-family: Roboto, sans-serif;
    //font-family: 'Merriweather', serif;
    //font-family: 'Old Standard TT', serif;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: 'Merriweather', serif;
    font-family: 'Ubuntu', sans-serif;
    //font-family: 'Old Standard TT', serif;
    font-weight: 300;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    line-height: 1.7em;
    font-size: 15px;
    font-weight: 400;
}

::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #03a9f4;
}

#root {
    position: relative;
    min-height: 100vh;
    //background-color: #f6f7fb;
    //background: linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
    //background: linear-gradient(135deg, rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%);
    //background: linear-gradient(135deg, rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%);
    background: url(../src/public/background-1.jpg) no-repeat;
    background-size: cover;
}

.body-wrapper {
    text-align: center;
    max-width: 1170px;
    margin: 40px auto 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    @media (max-width: 1199px) {
        max-width: 970px;
    }
    @media (max-width: 991px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: 95%;
    }
}
