.admin-main {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  .survey-toolbar {
    width: 100%;
    padding: 20px 40px 20px 20px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 767px) {
      justify-content: center;
    }
    .add-survey-button {
      background: linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
      color: #ffffff;
      font-weight: 600;
      padding: 10px 30px;
    }
  }
  .surveys-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    h2 {
      text-align: left;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .active-surveys {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @media (max-width: 767px) {
        justify-content: center;
      }
    }
    .disabled-surveys {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @media (max-width: 767px) {
        justify-content: center;
      }
    }
  }
}
