.results-content {
    padding-left: 50px;
    padding-right: 15px;
    text-align: left;
    width: 90%;
    position: relative;
    box-sizing: border-box;
    &.full-width {
        padding-left: 0;
        width: 100%;
    }
    .top-elements {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        //margin-bottom: 20px;
        .password-wrapper{
            background-color: #ffffff;
            padding: 5px 8px;
            border-radius: 3px;
            span {
                background-color: #03a9f4;
                padding: 0 5px;
                color: #e7fff6;
                font-weight: 600;
            }
        }
        .editor-button__save {
            background-color: rgba(5, 47, 244, 0.8);
            color: #ffffff;
            &:hover {
                background-color: #03a9f4;
                background-color: rgba(5, 47, 244, 1);
            }
        }
    }
    .title-content {
        display: flex;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 3px;
        border-left: 5px solid #03a9f4;
    }
    .control-buttons-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 20px;
        .survey-results__export-button {
            background: linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
            color: #ffffff;
            font-weight: 600;
            padding: 10px 30px;
            margin-bottom: 20px;
            i {
                margin-left: 7px;
            }
        }
        .survey-results__export-block-button {
            background: linear-gradient(135deg, rgba(171, 220, 255, 1) 0%,rgba(3, 150, 255, 1) 100%);
            color: #ffffff;
            font-weight: 600;
            padding: 10px 30px;
            i {
                margin-left: 7px;
            }
        }
    }
    //.block-9-table {
    //   min-width: 650;
    //}
}